@model Asp.NetCore_Playlist.ViewModels.EmployeeViewModel

<form asp-action="Create" method="post" enctype="multipart/form-data">

    <label>Name</label>
    <input asp-for="Name" />
    <br />

    <label>Email</label>
    <input asp-for="Email" />
    <br />

    <label>Department</label>
    <input asp-for="Department" />
    <br />

    <label>Address</label>
    <input asp-for="Address" />
    <br />

    <label>Org Name</label>
    <input asp-for="OrgName" />
    <br />

    <label>Select File</label>
    <input type="file" multiple asp-for="Files" />
    <br />

    <button type="submit">Save</button>

</form>