@model Asp.NetCore_Playlist.ViewModels.ClientSideViewModel

<h2>Register Form</h2>

<form method="post">

    <div>
        <label>Email</label>
        <input asp-for="Email" />

        @if (ViewData.ModelState["Email"]?.Errors.Count > 0)
        {
            <span style="color:red">
                @ViewData.ModelState["Email"].Errors[0].ErrorMessage
            </span>
        }
    </div>

    <br />

    <div>
        <label>Password</label>
        <input asp-for="Password" type="password" />

        @if (ViewData.ModelState["Password"]?.Errors.Count > 0)
        {
            <span style="color:red">
                @ViewData.ModelState["Password"].Errors[0].ErrorMessage
            </span>
        }
    </div>

    <br />

    <button type="submit">Submit</button>

</form>